In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

In [14]:
studentData= pd.read_csv("batch12.csv")
studentData2=pd.read_csv("batch2.csv")
studentData3=pd.read_csv("batch3.csv")
studentData4=pd.read_csv("batch4.csv")
studentData5=pd.read_csv("batch5.csv")
studentData4

,Subject1,Subject2,Subject3,Subject4,Subject5,Subject6,Predict day,Predict subject
0,101,102,103,104,105,106,NaN,NaN
1,101,102,103,104,105,106,NaN,NaN
2,101,102,103,104,105,106,NaN,NaN
3,101,102,103,104,106,105,NaN,NaN
4,101,102,103,104,106,105,NaN,NaN
...,...,...,...,...,...,...,...,...
995,101,102,103,104,106,108,NaN,NaN
996,101,102,103,104,106,108,NaN,NaN
997,101,102,103,104,106,108,NaN,NaN
998,101,102,103,104,108,106,NaN,NaN
999,101,102,103,104,106,108,NaN,NaN

In [23]:
non_zero = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6', 'Day', 'Subject']
for col in non_zero:
    studentData[col] = studentData[col].replace(0, np.NaN)
    mean = studentData[col].fillna(0).median(skipna=True)  # Replace NaN with 0 before calculating the median
    studentData[col] = studentData[col].replace(np.NaN, mean)

non_zero = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6', 'Day', 'Subject']
for col in non_zero:
    studentData2[col] = studentData2[col].replace(0, np.NaN)
    mean = studentData2[col].fillna(0).median(skipna=True)  # Replace NaN with 0 before calculating the median
    studentData2[col] = studentData2[col].replace(np.NaN, mean)

non_zero = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6', 'Day', 'Subject']
for col in non_zero:
    studentData3[col] = studentData3[col].replace(0, np.NaN)
    mean = studentData3[col].fillna(0).median(skipna=True)  # Replace NaN with 0 before calculating the median
    studentData3[col] = studentData3[col].replace(np.NaN, mean)

non_zero = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6', 'Predict day', 'Predict subject']
for col in non_zero:
    studentData4[col] = studentData4[col].replace(0, np.NaN)
    mean = studentData4[col].fillna(0).median(skipna=True)  # Replace NaN with 0 before calculating the median
    studentData4[col] = studentData4[col].replace(np.NaN, mean)

non_zero = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6', 'Predict day', 'Predict subject']
for col in non_zero:
    studentData5[col] = studentData5[col].replace(0, np.NaN)
    mean = studentData5[col].fillna(0).median(skipna=True)  # Replace NaN with 0 before calculating the median
    studentData5[col] = studentData5[col].replace(np.NaN, mean)

In [34]:
# Assuming studentData is your main dataset and it has a target column named 'Target'
# Split the data into training and test sets
train = studentData.sample(frac=0.7, random_state=1000)
test = studentData.drop(train.index)

# Extract the subject columns for training and test sets(1)
subject_columns = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6']
schedule_columns=['Day','Subject']
#predict_columns=['Predict day','Predict subject']
train_subjects = train[subject_columns]
test_subjects = test[subject_columns]
# Extract the subject columns for training and test sets(2)
train2 = studentData2.sample(frac=0.7, random_state=1000)
test2 = studentData2.drop(train.index)
subject_columns2 = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6']
schedule_columns2=['Day','Subject']
#predict_columns2=['Predict day','Predict subject']
train_subjects2 = train[subject_columns2]
test_subjects2 = test[subject_columns2]
# Extract the subject columns for training and test sets(3)
train3 = studentData3.sample(frac=0.7, random_state=1000)
test3 = studentData3.drop(train.index)
subject_columns3 = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6']
schedule_columns3=['Day','Subject']
#predict_columns3=['Predict day','Predict subject']
train_subjects3 = train[subject_columns3]
test_subjects3 = test[subject_columns3]
#Train batch 4 and 5
train = studentData4.sample(frac=0.7, random_state=1000)
train = studentData5.sample(frac=0.7, random_state=1000)
test = studentData4.drop(train.index)
test = studentData5.drop(train.index)
subject_columns4 = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6']
schedule_columns4=['Predict day','Predict subject']
subject_columns5 = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6']
schedule_columns5=['Predict day','Predict subject']
predict_columns=['Predict day','Predict subject']

train_subjects4 = train[subject_columns4]
test_subjects4 = test[subject_columns4]
train_subjects5 = train[subject_columns5]
test_subjects5 = test[subject_columns5]
# Assuming 'Target' is the column you want to predict
train_target = train[schedule_columns5]
# Fit the KNN model
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
# knn.fit(train_subjects, train_target)
# knn.fit(train_subjects2, train_target)
knn.fit(train_subjects5, train_target)

 # Predict the target for the test set
predicted_schedule = knn.predict(test_subjects4)
 #predicted_schedule = knn.predict(test_subjects2)
predicted_schedule = knn.predict(test_subjects5)
predicted_schedule_df = pd.DataFrame(predicted_schedule, columns=predict_columns)

 # Print the predicted schedule
print(predicted_schedule_df)

     Predict day  Predict subject
0            0.0              0.0
1            0.0              0.0
2            0.0              0.0
3            0.0              0.0
4            0.0              0.0
..           ...              ...
295          0.0              0.0
296          0.0              0.0
297          0.0              0.0
298          0.0              0.0
299          0.0              0.0

[300 rows x 2 columns]

In [76]:
#Calculate the mean squared error
mean_squared_error(test['Day'], predicted_schedule)

0.29