In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

In [9]:
studentData= pd.read_csv("batch12.csv")
studentData

,Subject1,Subject2,Subject3,Subject4,Subject5,Subject6,Day,Subject,Predict day,Predict subject
0,101,102,103,104,106,105,1.0,101.0,NaN,NaN
1,101,102,103,104,106,105,2.0,NaN,NaN,NaN
2,101,102,103,104,106,105,3.0,108.0,NaN,NaN
3,101,102,103,104,105,106,4.0,102.0,NaN,NaN
4,101,102,103,104,105,106,5.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
995,101,102,103,104,107,108,NaN,NaN,NaN,NaN
996,101,102,103,104,107,108,NaN,NaN,NaN,NaN
997,101,102,103,104,108,107,NaN,NaN,NaN,NaN
998,101,102,103,104,107,108,NaN,NaN,NaN,NaN
999,101,102,103,104,108,107,NaN,NaN,NaN,NaN

In [10]:

 non_zero = [	'Subject1',	'Subject2',	'Subject3',	'Subject4',	'Subject5',	'Subject6',	'Day',	'Subject']
 #,'Predict']
 for col in non_zero:
   studentData[col] = studentData[col].replace(0, np.NaN)
   mean = int(studentData[col].median(skipna=True))
   studentData[col] = studentData[col].replace(np.NaN, mean)

In [11]:
# Assuming studentData is your main dataset and it has a target column named 'Target'
# Split the data into training and test sets
train = studentData.sample(frac=0.7, random_state=1000)
test = studentData.drop(train.index)

# Extract the subject columns for training and test sets
subject_columns = ['Subject1', 'Subject2', 'Subject3', 'Subject4', 'Subject5', 'Subject6','Day','Subject']
train_subjects = train[subject_columns]
test_subjects = test[subject_columns]

# Assuming 'Target' is the column you want to predict
#problem heeereee
train_target = train['Day']

# Fit the KNN model
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(train_subjects, train_target)

# Predict the target for the test set
predicted_schedule = knn.predict(test_subjects)
predicted_schedule_df = pd.DataFrame(predicted_schedule, columns=['Predict'])

# Print the predicted schedule
print(predicted_schedule_df)

     Predict
0        2.0
1        8.0
2        8.0
3        8.0
4        8.0
..       ...
295      8.0
296      8.0
297      8.0
298      8.0
299      8.0

[300 rows x 1 columns]

In [14]:
mean_squared_error(test['Day'], predicted_schedule)

0.29